{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to my online store</h1>
  
  <div class="row">
    {% for product in products %}
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Price: {{ product.price }}</p>
            <a href="{% url 'product_detail' pk=product.pk %}" class="btn btn-primary">View Product</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-md-12">
        <p>No products available.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}